.wrapper {
  // background-image: url('../../../public/home.jpg');
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      font-size: 40px;
      color: #000;
      margin: 20px 0;
    }
  }
}
