@import url(./style/normalize.css);

body ::-webkit-scrollbar{
  width: 8px;
}
body ::-webkit-scrollbar-thumb{
  background-color: #ddd;
}

#root{
  width: 100%;
  height: 100%;
}

li{
  list-style: none;
}

.ant-message{
  z-index: 2000;
}
